# Electron 镜像配置
ELECTRON_MIRROR=https://cdn.npmmirror.com/binaries/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/

# 或者使用其他镜像
# ELECTRON_MIRROR=https://registry.npmmirror.com/-/binary/electron/
# ELECTRON_MIRROR=http://npm.taobao.org/mirrors/electron/

# npm 镜像
registry=https://registry.npmmirror.com

# 严格 SSL（如果遇到证书问题可以设为 false，但不推荐）
strict-ssl=false
